{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "issue.css" %}"/>
    </head>

    <body class="w-75 p-3 mx-auto">
        <header class="border-bottom border-dark container-fluid">
            <div class="row">
                <div class="col-sm-4 logo">
                    <img class="img-fluid" src="{% static "AURA_logo.png" %}">
                </div>
                <div class="col-sm-8"></div>
            </div>
        </header>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>